html, body {
  height: 300%;
  width: 100%;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #F8B3BC;
  padding: 0 10px 10px 10px;
  border: 3px solid black;

}

html {
  background-image: url(https://cdn.glitch.global/63f30b24-c7c9-4652-8b3f-2f941cc29127/radeau.jpeg?v=1704892860504);
}

.title {
  font-size: 230% ;

}

.p1{
  vertical-align: 100px;
  font-size: 110%;
   background-color: rgb(245, 130, 130);

}
button {
  background-color: #ff5878;
  border: 2px;
  border-radius: 10px;
  width:180px;
  height: 30px;
  vertical-align: 20px;
}

.index{
  position: absolute ;
  bottom: 0;
  font-size: 15px;
  margin-right: 7px;
}

hr {
  color:#FD6C9E;
  size:400px;
  background-color:#FD6C9E;
  height:3px;
}
p{
  width:805px
}
.ent{
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  
  background-color : #308277;
}
.pronote{
  background-color : lightblue;
    font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 500ms;
}
.appli{
  background-color : lightblue;
    font-family: inherit;
  font-size: 100%;
  background:lightgreen;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 500ms;
}